.main-char-page {
    padding: 10px;
}

.main-char-page h2 {
    padding-bottom: 20px;
}

.main-char-page h3 {
    padding-bottom: 4px;
}

.main-char-page ul {
    padding-bottom: 10px;
}

.main-char-page li {
    padding-bottom: 4px;
}