.main-home-page{
    padding: 10px;
    /* padding-top: 40px; */
}

.main-home-page h2 {
    padding-bottom: 20px;
}

.main-home-page h3 {
    padding-bottom: 4px;
}

.main-home-page ul {
    padding-bottom: 20px;
}

.main-home-page li {
    padding-bottom: 4px;
}