.main-flex-container {
    display: flex;
    /* border: 1px solid #000; */
  }

.main-aside {
  /* height: 90vh; */
  width: 220px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
  